body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-container {
    margin-top: 20px;
}

.btn-large {
    width: 100%;
}
